@model Product

@{
    ViewData["Title"] = Model.Name;
}

<dic class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <h4>@Model.Name</h4>
        <p class="text-primary-emphasis">@Model.Price.ToString("C")</p>
        <p class="text-primary">@Model.Brand?.Name</p>
        @if (Model.Stock > 0)
        {
            <a href="#" class="btn btn-primary">Add to cart</a>
        }
        else
        {
            <a class="btn disabled">Sold Out</a>
        }
    </div>
</dic>