@model List<Product>

<div class="row mb-3 ">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-6 text-end ">
        <a asp-controller="Product" asp-action="Create" asp-route-id="@TempData["ProductSubcategoryId"]" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i><span class="ms-2">Add Product</span>
        </a>
    </div>
</div>
@if (ViewData["Title"]!.Equals("All Products"))
{
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="col-8">
                        @product.Name
                    </td>
                    <td class="col-4 text-end">
                        <a class="link-info" asp-action="Edit" asp-route-id="@product.Id" asp-controller="Product">Edit</a>
                        <a class="link-danger ms-2">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row">
        @foreach (var product in Model)
        {
            <partial name="_ProductItem" model="product"/>
        }
    </div>
}