@model IEnumerable<Product>

<div class="row mb-3 ">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-6 text-end ">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i><span class="ms-2">Add Product</span>
        </a>
    </div>
</div>
@* @if (ViewData["Title"]!.Equals("All Products")) *@
<div class="row">
    <table id="dataTable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Subcategory</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}