@model IEnumerable<Product>

<div class="row mb-3 ">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-6 text-end ">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i><span class="ms-2">Add Product</span>
        </a>
    </div>
</div>
@* @if (ViewData["Title"]!.Equals("All Products")) *@
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td >
                    @product.Name
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="link-info mx-2" asp-action="Upsert" asp-route-id="@product.Id" asp-controller="Product">Edit</a>
                        <a class="link-danger ms-2">Delete</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>