@model Category

@{
    ViewBag.Title = "Edit Category";
}

<div class="row pb-2">
    <h4 class="text-uppercase">Edit Category</h4>
</div>
<div class="row mb-3">
    <div class="col-4">
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i><span class="ms-2">Back to Category List</span>
        </a>
    </div>
</div>
<form method="post" class="row">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary ">Update</button>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}