<footer class="border-top footer text-muted">
    <div class="container-fluid bg-black">
        <div class="container-md">
            <div class="row p-4 row-gap-2">
                <div class="col-md-3">
                    <span class="text-uppercase small text-secondary-emphasis">Contact us:</span><br/>
                    <span class="text-secondary small text-light">
                        +0915-1230202<br/>
                        sample@example.com
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="text-uppercase text-secondary-emphasis text-body-emphasis small">Follow us:</span><br/>
                    <a href="https://facebook.com/@@reddavidgg" target="_blank" class="text-decoration-none">
                        <button class="btn btn-primary btn-sm" type="button">
                            <i class="bi bi-facebook"></i>
                        </button>
                    </a>
                    <a href="https://twitter.com/reddvid" target="_blank" class="text-decoration-none">
                        <button class="btn btn-outline-dark btn-sm  text-secondary" type="button" Url>
                            <i class="bi bi-twitter-x"></i>
                        </button>
                    </a>
                    <a href="https://youtube.com/@@reddavidgg" target="_blank" class="text-decoration-none">
                        <button class="btn btn-danger btn-sm" type="button">
                            <i class="bi bi-youtube"></i>
                        </button>
                    </a>
                    <a href="https://instagram.com/reddvid" target="_blank" class="text-decoration-none">
                        <button class="btn btn-outline-light text-secondary btn-sm" type="button">
                            <i class="bi bi-instagram"></i>
                        </button>
                    </a>
                    <a href="https://open.spotify.com/user/12136323651?si=21f79fdbc60a4b69" target="_blank" class="text-decoration-none">
                        <button class="btn btn-success btn-sm" type="button">
                            <i class="bi bi-spotify"></i>
                        </button>
                    </a>
                </div>
                <div class="col-md-3 ">
                    <ul class="list-unstyled p-xs-2 list-compact">
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">Warranty Policy</a>
                        </li>
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">Pre-order</a>
                        </li>
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">Request</a>
                        </li>
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-unstyled list-compact">
                        <li >
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">About us</a>
                        </li>
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">Store Branches</a>
                        </li>
                        <li>
                            <a class="fw-bolder link-secondary-emphasis text-decoration-none small" href="#">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-subtle p-2 small text-center">
        &copy; 2024 - PC Guy by <a href="https://reddavid.me" target="_blank">David Ballesteros</a>
    </div>
</footer>

@section Scripts
{

}