<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PC Guy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    @* <link rel="stylesheet" href="~/PCGuy.Mvc.styles.css" asp-append-version="true"/> *@
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container nav-row1">
            <div class="col-auto">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/pcguylogo.png" alt="PC Guy" height="50"/>
                </a>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Find products" aria-label="Find products" aria-describedby="">
                    <div class="input-group-append">
                        <a class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <partial name="_LoginPartial" />
            </div>
        </div>
        <div class="container nav-row2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-id="0">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Subcategory" asp-action="Index">
                            Subcategories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index">
                            Brands
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PC Parts</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-id="2">View all</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">CPU / Processors</a>
                            <a class="dropdown-item" href="#">Motherboards</a>
                            <a class="dropdown-item" href="#">CPU Coolers</a>
                            <a class="dropdown-item" href="#">Memory</a>
                            <a class="dropdown-item" href="#">GPU / Video Cards</a>
                            <a class="dropdown-item" href="#">PSU / Power Supplies</a>
                            <a class="dropdown-item" href="#">Storage</a>
                            <a class="dropdown-item" href="#">Case Fans</a>
                            <a class="dropdown-item" href="#">Towers / PC Cases</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Peripherals
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-id="3">View all</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Monitors</a>
                            <a class="dropdown-item" href="#">Mice</a>
                            <a class="dropdown-item" href="#">Keyboards</a>
                            <a class="dropdown-item" href="#">Speakers</a>
                            <a class="dropdown-item" href="#">Headsets</a>
                            <a class="dropdown-item" href="#">Microphones</a>
                            <a class="dropdown-item" href="#">Printers and Scanners</a>
                            <a class="dropdown-item" href="#">Macro Keys</a>
                            <a class="dropdown-item" href="#">Controllers</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Accessories
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Show all</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Chargers</a>
                            <a class="dropdown-item" href="#">Cables</a>
                            <a class="dropdown-item" href="#">Mouse Pads</a>
                            <a class="dropdown-item" href="#">Wrist Pads / Wrist Rests</a>
                            <a class="dropdown-item" href="#">Thermal Paste</a>
                            <a class="dropdown-item" href="#">USB Hubs</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="py-3">
        <partial name="_Notification"/>
        @RenderBody()
    </main>
</div>

<partial name="_Footer"/>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.tiny.cloud/1/vd3q2cevzintb2lcus6wz2enw7rw6xdjq7hzrzf0hb221fix/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>