@using PCGuy.Common.Entities
@model IEnumerable<Subcategory>

@{
    ViewData["Title"] = "Subcategories";
}


<div class="row mb-3 ">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-6 text-end ">
        <a asp-controller="Product" asp-action="Create" asp-route-id="@TempData["ProductsViewId"]" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i><span class="ms-2">Add Subcategory</span>
        </a>
    </div>
</div>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var subcategory in Model)
        {
            <tr>
                <td class="col-8">
                    @subcategory.Name
                </td>
                <td class="col-4">
                    <a class="btn btn-outline-info">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>